# Imports

In [2]:
import pandas as pd
import numpy as np
import os, random, math, glob
from IPython.display import Image as IM
from IPython.display import clear_output
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = [16, 10]

# Loading the data

In [3]:
df = pd.read_csv('Train.csv')
df.shape

(2822, 63)

In [11]:
df.columns

Index(['ward', 'total_households', 'total_individuals', 'target', 'dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01',
       'lln_00', 'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04',
       'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11',
       'lan_12', 'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03',
       'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05',
       'pw_06', 'pw_07', 'pw_08', 'ADM4_PCODE', 'lat', 'lon', 'NL'],
      dtype='object')

# Cleaning data

In [4]:
df.isnull().sum()
#seems to have no na values
df.drop_duplicates(keep = "first")

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817,34503001: Ward 1,3261.68067,11551.56486,6.393480,0.874972,0.003146,0.017230,0.004735,0.048888,0.000654,...,0.000472,0.000472,0.000000,0.006203,0,0,ZA3453001,-27.675590,23.057920,9.118927
2818,34503002: Ward 2,1463.06432,7908.90411,15.668000,0.636235,0.002262,0.010433,0.000000,0.003030,0.000000,...,0.003030,0.000713,0.000000,0.008414,0,0,ZA3453002,-27.591408,22.907161,1.697395
2819,34503003: Ward 3,1395.18881,6242.37527,13.238795,0.855975,0.006601,0.061118,0.000812,0.003912,0.000812,...,0.002150,0.001458,0.000000,0.003670,0,0,ZA3453003,-27.952550,22.749698,2.792501
2820,34503004: Ward 4,1679.66964,8014.73089,17.639523,0.792552,0.004423,0.016099,0.000000,0.000674,0.000000,...,0.009235,0.007870,0.000000,0.004803,0,0,ZA3453004,-27.913875,22.755314,2.793699
2821,34503005: Ward 5,3008.38687,7899.36498,12.457680,0.254215,0.003310,0.121954,0.000000,0.001770,0.001023,...,0.003107,0.001636,0.000332,0.001770,0,0,ZA3453005,-27.741804,22.856933,0.001200

# Correlations

positive correlations

In [5]:
pos = pd.DataFrame(df.corr()['target'].sort_values(ascending=False))
pos = pos[pos['target'] > 0.7]
pos
#school attendance
#no car
#no satelite TV
#no landline ownership (telephone)
#Black African
pos_indices = pos.index
pos_indices

Index(['target', 'psa_00', 'car_01'], dtype='object')

negative correlations

In [6]:
neg =pd.DataFrame(df.corr()['target'].sort_values())
neg = neg[neg['target'] < -0.7]
#indoor water access
#school attendence: no
#car: no
#satellite TV yes
#landline: yes
#White
neg_indices = neg.index
neg_indices

Index(['pw_00', 'psa_01', 'car_00'], dtype='object')

In [7]:
correlated = df[['pw_00', 'psa_01', 'car_00', 'target', 'psa_00', 'car_01']]
correlated

         pw_00    psa_01    car_00     target    psa_00    car_01
0     0.742692  0.607898  0.273727  16.773757  0.260191  0.726273
1     0.309294  0.549788  0.144638  21.496661  0.290228  0.855362
2     0.323393  0.677005  0.272220  10.931425  0.186435  0.727780
3     0.677437  0.593281  0.127875  23.119257  0.281229  0.872125
4     0.771106  0.517578  0.404507  13.652252  0.196687  0.595493
...        ...       ...       ...        ...       ...       ...
2817  0.918325  0.548069  0.795676   6.393480  0.249796  0.204324
2818  0.426518  0.597921  0.293898  15.668000  0.243611  0.706102
2819  0.619392  0.567502  0.397152  13.238795  0.253504  0.602848
2820  0.567853  0.551838  0.278854  17.639523  0.272915  0.721146
2821  0.316055  0.623015  0.170296  12.457680  0.164530  0.829704

[2822 rows x 6 columns]

# Spliting/Fit/Predict  -- Linear Regression + metrics

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

In [12]:
#for all the numerical columns 
X = df.drop(columns = ['target', 'ward', 'ADM4_PCODE'] )
y = correlated['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size  = 0.2, random_state = 42)

model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

X = X_test.reset_index().copy() # make a copy of indices and data
X["target"] = y_test.tolist()
X["prediction"] = predictions
X.head()

,index,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_04,pw_05,pw_06,pw_07,pw_08,lat,lon,NL,target,prediction
0,1091,1866.23138,7326.74439,0.510203,0.312948,0.079501,0.001186,0.000000,0.001378,0.006144,...,0.019997,0.001985,0.062959,0,0,-30.118707,29.282388,0.000000,15.867901,25.279591
1,2510,3011.80828,11531.75832,0.701485,0.046439,0.009159,0.002819,0.000000,0.011571,0.005189,...,0.029294,0.016458,0.146579,0,0,-26.078382,25.839042,15.773764,14.744632,18.548999
2,1474,9346.73735,39175.99195,0.705361,0.091124,0.002353,0.003708,0.001636,0.011389,0.010406,...,0.024142,0.003813,0.079092,0,0,-29.970421,30.840556,35.747076,25.767571,22.844189
3,1437,6846.22121,30924.03809,0.901071,0.008494,0.002448,0.001656,0.005862,0.000348,0.043820,...,0.000598,0.000611,0.012393,0,0,-29.730505,30.978227,54.992047,27.705788,24.881464
4,1105,2537.75340,11645.69910,0.171127,0.801225,0.009654,0.000000,0.000403,0.000000,0.007691,...,0.040369,0.014663,0.406589,0,0,-30.311653,30.308249,3.922369,42.524363,36.395946

In [18]:
#metrics: r2
model_r2 = metrics.r2_score(y_test, predictions)
model_r2

0.859482883331063

In [13]:
#for the most correlated columns
X = correlated.drop(columns = "target")
y= correlated['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size  = 0.2, random_state = 42)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

X = X_test.reset_index().copy() # make a copy of indices and data
X["target"] = y_test.tolist()
X["prediction"] = predictions
X.head()

,index,pw_00,psa_01,car_00,psa_00,car_01,target,prediction
0,1091,0.234088,0.530219,0.152959,0.293419,0.847041,15.867901,25.864216
1,2510,0.175511,0.631661,0.171919,0.205524,0.828081,14.744632,19.485118
2,1474,0.586941,0.503086,0.234023,0.324971,0.765977,25.767571,24.123101
3,1437,0.460577,0.506142,0.141970,0.347064,0.858030,27.705788,27.951973
4,1105,0.032147,0.450907,0.108323,0.375997,0.891677,42.524363,34.117918

In [14]:
model_r2 = metrics.r2_score(y_test, predictions)
model_r2

0.8052131555853801

In [15]:
rmse = np.sqrt(metrics.mean_squared_error(y_test, predictions))
rmse

4.3836863219537126

# Spliting/Fit/Predict  -- Linear Regression Cross Validation + metrics

In [77]:
from sklearn.model_selection import cross_val_score

In [135]:
def r2_cv(n):
    cv_scores = cross_val_score(
        estimator=model, 
        X = X,
        y = y,
        scoring = "r2", 
        cv = n,
    )
    print('cv =', n, ': ',cv_scores.mean())
for i in range(3, 16):
    r2_cv(i)
#cv = 5 seems to yield best r2 score, tho not as good as regular LR model

cv = 3 :  0.7651923505135727
cv = 4 :  0.7428997914476115
cv = 5 :  0.7807889771206016
cv = 6 :  0.7420844306546409
cv = 7 :  0.7483612794704776
cv = 8 :  0.7421469475836457
cv = 9 :  0.7487115821604386
cv = 10 :  0.7389768034847684
cv = 11 :  0.726700935168961
cv = 12 :  0.7315003021485955
cv = 13 :  0.713820996822694
cv = 14 :  0.7203065151727263
cv = 15 :  0.7168771908805438